<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" class="btn btn-outline-primary">Car Management Systems</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
            <button type="nav-link active" href="#"[routerLink]="['/home']" class="btn btn-primary">Home</button>
        </li>

        <li class="nav-item">
          <button type="button" href="#"[routerLink]="['/about']" class="btn btn-primary">About Us</button>
        </li>

        <li class="nav-item">
          <button type="button" href="#"[routerLink]="['/product']" class="btn btn-primary">Register Product</button>
        </li>

        <li class="nav-item">
          <button type="button" href="#"[routerLink]="['/viewproduct']" class="btn btn-primary">View Product</button>
        </li>
        
        <li class="nav-item">
          <button type="button" href="#"[routerLink]="['/register']" class="btn btn-primary">Register Shop</button>
        </li>

        <li class="nav-item">
          <button type="button" href="#"[routerLink]="['/viewregister']" class="btn btn-primary">View Shop</button>
        </li>

        <li class="nav-item">
          <button type="button" href="#"[routerLink]="['/faq']" class="btn btn-primary">FAQ</button>
        </li>
        </ul>
      </div>
    </div>
  </nav>
  
