<div class="container">
    <!--showmessage alert for delete-->
    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{successmsg}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br>
    <div align="center">
      <img src="/assets/view.png" style="height: 65px;">
      <br><br>
      <table class="table">
        <thead>
          <tr>
            <td align="center" scope="col">NO.</td>
            <td align="center" scope="col">SHOP NAME</td>
            <td align="center" scope="col">SHOP EMAIL</td>
            <td align="center" scope="col">SHOP NO</td>
            <td align="center" scope="col"></td>
            <td align="center" scope="col"></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let us of listData'>
            <td align="center" scope="row">{{us.id}}</td>
            <td align="center">{{us.shop_name}}</td>
            <td align="center">{{us.shop_email}}</td>
            <td align="center">{{us.shop_no}}</td>
            <td></td>
            <td>
              <button (click)="deleteId(us.id)">REMOVE</button>
              &nbsp;
              <button [routerLink]="['/updateregister', us.id]">EDIT</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>